@import 'header/header';
@import 'map/map';
@import 'search/searchbar';
@import 'sidedrawer/sidedrawer';
@import 'backdrop/backdrop';
@import 'parks/parks';

body {
    background-color: rgb(240, 243, 246); 
}

h1 {
    color: rgb(95, 124, 162);
    text-align: center;
}

.box-field {
  display: flex;
  flex-direction: row;
}